<header class="header">
    <div class="container">
        <nav class="menu">
            <ul class="menu__list">
                <!-- @loop('menu_point.html', [
                    { "point": "My custom menu_point 1", "link": "#" },
                    { "point": "My custom menu_point 2", "link": "#" },
                    { "point": "My custom menu_point 3", "link": "#" },
                    { "point": "My custom menu_point 4", "link": "#" },
                    { "point": "My custom menu_point 5", "link": "#" },
                ]) -->
                {{ text }}
            </ul>
        </nav>
    </div>
</header>